.reserve_wrapper {
    position: relative;
    width: 475px;
    height: 452px;
    padding: 40px 32px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: center;
}
