@import "../../../styles/breakpoints";
.reserve_wrapper {
    position: relative;
    width: calc(100vw - 20px);
    height: 452px;
    padding: 40px 32px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 455px) {
        width: 412px;
    }
    @media screen and (min-width: $tablet) {
        width: 475px;
        height: 452px;
    }
}
