@import "../../../styles/colors";

.card {
    flex-basis: 250px;
    flex-grow: 1;
    height: 575px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
}
.img {
    width: 171px;
    height: 330px;
    margin: 0 auto;
    margin-bottom: 22px;
    cursor: pointer;
}
.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::after {
        content: "";
        margin-top: 9px;
        display: block;
        border-bottom: 1px solid $accent_color;
        width: 221px;
    }
}
.size {
    font-size: 14px;
    line-height: 1.2;
    &:first-of-type {
        margin-bottom: 10px;
    }
}

.no_avalible {
    color: $not_avalible_color;
}
.price {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 16px;
}
.btn {
    background: #ffffff;
    width: 145px;
    height: 40px;
    border: 1px solid $accent_color;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 16px;

    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: $accent_color;
    cursor: pointer;

    &:hover {
        background-color: #ffefd9;
        color: $accent_color;
    }
    &:active {
        background-color: $accent_color;
        color: #fff;
    }
}
