@import-normalize; /* bring in normalize.css styles */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    color: $text_color;
    background-color: #fff;
}
