@import-normalize; /* bring in normalize.css styles */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    color: $text_color;
    background-color: #fff;
}
.swiper {
    width: 235px;
    margin-bottom: 10px;
}
.swiper-slide {
    padding: 16px;
    border: 1px solid #bebebe;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.swiper-pagination {
    position: static;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    border-radius: 4px;
    border-radius: 4px;
    background-color: #bebebe;
}

.swiper-pagination-bullet-active {
    width: 32px;
    height: 4px;
    background: $accent_color;
}
