@import "../../styles/breakpoints";
@import "../../styles/colors";

.icon_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 80px;
    height: 80px;
    padding: 20px;
    color: $icon_color;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
        left: 0;
    }

    @media screen and (min-width: $laptop) {
        display: none;
    }
}
.filter_container {
    display: flex;
    flex-direction: column;
}
.form_wrapper {
    flex-grow: 1;
}
.filter {
    position: fixed;
    transform: translate(100%, 0);
    transition: opacity 1s ease, transform 0.5s ease;
    pointer-events: none;
    opacity: 0;

    min-width: 100vw;
    height: calc(100vh - 80px);
    padding: 24px 0;
    z-index: 1;
    background-color: #fff;
    overflow: auto;

    padding-bottom: 80px;

    @media screen and (min-width: $tablet) {
        transform: translate(-100%, 0);
        padding: 24px 32px;
        min-width: 350px;
    }
    @media screen and (min-width: $laptop) {
        // height: calc(100vh - 100px);
        min-height: 100%;
        position: relative;
        pointer-events: all;
        opacity: 1;
        transform: translate(0);
    }
}

.show_filter {
    opacity: 1;
    transform: translate(0);
    pointer-events: auto;
}

.btn {
    position: fixed;
    z-index: 3;
    right: 0;
    bottom: 30px;
    display: block;
    width: 250px;
    height: 48px;

    background: $accent_color;
    border-radius: 4px;
    border-style: none;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    cursor: pointer;

    transform: translate(100%, 0);
    transition: opacity 1s ease 0.5s;
    opacity: 0;
    pointer-events: none;

    &:hover {
        background-color: $hover_accent_color;
    }
    &:active {
        background-color: $active_accent_color;
    }
    @media screen and (min-width: $tablet) {
        position: static;

        width: 225px;
        height: 48px;
        margin: 0 auto;
        padding: 0;
        border-radius: 4px;

        font-weight: 600;
        font-size: 16px;
        line-height: 1.4;

        transform: translate(0);
        opacity: 1;
        pointer-events: all;
    }
}

.show_btn {
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
    pointer-events: all;
}
