@import "../../../styles/colors";
@import "../../../styles/breakpoints";
.filter_wrapper {
    position: relative;
    margin-bottom: 20px;
}

.title_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    background-color: #ffefd9;
    padding: 0 32px;
    @media screen and (min-width: $tablet) {
        background-color: transparent;
        padding: 0;
    }
}
.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 2.37;
}
.reset {
    font-size: 14px;
    line-height: 1.4;
    color: $accent_color;
    cursor: pointer;
    text-decoration: underline;
}
.filter_list {
    overflow: hidden;
    transition: all 0.5s ease;
    padding: 0 32px;
    @media screen and (min-width: $tablet) {
        padding: 0;
    }
}

.filter_item {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.label {
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        border-radius: 100%;
        border: 1px solid $not_avalible_color;
    }
}

.input {
    display: none;
    // appearance: none;
    // width: 24px;
    // height: 24px;
    // border: 1px solid $not_avalible_color;
    // border-radius: 100%;
    // background-position: center;
    // background-repeat: no-repeat;
    // cursor: pointer;

    &:checked {
        background-image: url(../../../assets/check-mark-icon.svg);
        background-size: 17px 25px;
        border-color: $accent_color;
    }
    &:checked + .label::before {
        background-color: $accent_color;
        border-color: $accent_color;
        box-shadow: inset 0 0 0 4px #fff;
    }
}

.showBtn {
    margin-top: 25px;
    padding: 0 32px;

    font-size: 14px;
    line-height: 1.4;
    color: $accent_color;
    cursor: pointer;
    @media screen and (min-width: $tablet) {
        padding: 0;
    }
}
