@import "../../styles/breakpoints";
.header {
    width: 100%;
    height: 80px;
    background-image: url("../../assets//nav-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $leptop) {
        position: relative;
        height: 100px;
    }
}

.logo {
    display: flex;
    align-items: center;
    // padding: 0 100px;
    width: 150px;
    height: 48px;
    margin: 0 100px;

    @media screen and (min-width: $leptop) {
        width: 220px;
        height: 70px;
    }
}

.logo_img {
    width: inherit;
    height: inherit;
}
