@import "../../styles/breakpoints";
.header {
    width: 100%;
    height: 100px;
    background-image: url("../../assets//nav-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    @media screen and (min-width: $tablet) {
        position: relative;
    }
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 100px;
}
