@import "./styles/styles.scss";

.main {
    display: flex;
    background-color: $list_background_color;
    padding-top: 100px;
    @media screen and (min-width: 1200px) {
        padding-top: 0;
    }
}
