@import "./styles/styles.scss";
@import "./styles/_colors.scss";

.main {
    display: flex;
    height: calc(100vh - 100px);
    padding-top: 100px;
    @media screen and (min-width: 1200px) {
        padding-top: 0;
    }
}
