@import "../../styles/colors";
@import "../../styles/breakpoints";

.list_container {
    height: calc(100vh - 80px);
    flex-grow: 1;
    padding: 35px;
    background-color: $list_background_color;
    @media screen and (min-width: $laptop) {
        height: auto;
    }
}
.door_list {
    padding: 35px;
    overflow: auto;
    flex-grow: 1;
    background-color: $list_background_color;
    @media screen and (min-width: $tablet) {
        height: auto;
        overflow: visible;
    }
    @media screen and (min-width: $laptop) {
        // height: calc(100vh - 100px);
        height: auto;
        overflow: visible;
    }
}
.title_wrapper {
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.title {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.58;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: $tablet) {
        margin-right: 50px;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    @media screen and (min-width: $tablet) {
        justify-content: flex-start;
    }
}

.not_found {
    max-width: 498px;
    margin: 100px auto;
}
.text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    color: $accent_color;
}

.loadmoreBtn {
    display: block;
    width: 200px;
    height: 48px;
    margin: 25px auto 0;
    background: $accent_color;
    border-radius: 4px;
    border-style: none;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: $hover_accent_color;
    }
    &:active {
        background-color: $active_accent_color;
    }
}
